#chatBackground {
    background-image: url(Pictures/whatsappBackground.jpg);
}
#pageBackground {
    background-image: url(Pictures/pageBackground.png);
}
/*#sendButton img {
    src:url(Pictures/sendMessage.png);
}
#addContactImage {
    src:url(Pictures/add_contact2.png);
}*/
