@model advanced_programming_2_server_side_exercise.Models.Review

@{
	ViewData["Title"] = "Create";
}

<div style="background-color:aliceblue;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: auto;
	padding-top: 5vh">

	<h1>Create</h1>

	<h4>Review</h4>
	<hr />
	<div class="row" style="justify-content: center">
		<div class="col-md-4">
			<form asp-action="Create">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Score" class="control-label"></label>
					<input asp-for="Score" class="form-control" />
					<span asp-validation-for="Score" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Feedback" class="control-label"></label>
					<input asp-for="Feedback" class="form-control" />
					<span asp-validation-for="Feedback" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Name" class="control-label"></label>
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Create" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>

	<div>
		<a asp-action="Index">Back to List</a>
	</div>
</div>

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
